.body{
  
  /* background-image: url('./image/Image/rectangle1.png'); */
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
 
  height: 100vh;
  margin:0px;
  overflow: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}


